<div class="container">
	<a href="#englisch">English text below</a>
	<br />
	<br />
	<div class="row row-centered">
<iframe style="border: 0; height: 200px; width: 600px;" src="https://piwik.seqbit.com/index.php?module=CoreAdminHome&action=optOut&language=de"></iframe>


	</div>
</div>
