<div class="container">
	<div class="row">

		Impressum
		<br />
		<br />
		<br />
		<br />
		Seqbit UG (haftungsbeschränkt)
		<br />
		z.H. Robert Trepte
		<br />
		Kipsdorfer Straße 99
		<br />
		01277 Dresden
		<br />
		<br />
		muralplaces[at]kalter-tee.de
		<br />

		<br />
		<br />
		<%= link_to "Zurueck",root_url%>
	</div>
</div>
