
<div class="container">
<h2>Nutzungsbedingungen</h2>



<p>

Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. 
Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung 
außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
<p>
Mit dem Upload eines Bilder bestätigt der Ersteller, dass das hochzuladende Foto frei von Rechten Dritter ist.</p>
<p>
Es ist untersagt, Bilder mit pornographischen, rassistischen oder anderen sittenwidrigem Inhalt hochzuladen.</p>
<p>
muralplaces behält sich das Recht vor, einzelne Fotos ohne Angaben von Gründen zu entfernen.</p>
<p>
Es besteht kein Anspruch auf die Nutzung und Garantie gegenüber der Verfügbarkeit von muralplaces und dessen Diensten.</p>


</div>
