<h3>User</h3>
<p>
	Email: <%= @user.email if @user.email %>
</p>

<div class="container">
	<div class="row-centered">
		<%= link_to I18n.t('edit'),edit_user_path(@user) %>
		<%= link_to I18n.t('back'), :back %>

	</div>
</div>
