<div class="container">
<h1>Neues Bild hochladen</h1>

<%= render 'form2' %>

<%= link_to I18n.t('back'), arts_path %>
</div>
<div id="blindOverlay">	
</div>
<div class="overlay" id="hold">
	<div class="overly-in">
		Bitte Warten. GPS-Daten werden verarbeitet.
	</div>
</div>