
<div class="col-sm-2 col-sm-offset-1">
	<div class="sidebar-nav">
		<nav  role="navigation">
			<div class="navbar-collapse collapse sidebar-navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#"   onClick="showPanelBilder();return false;">Bilder</a>
					</li>
			<!--		<li>
						<a href="#"  onClick="showOText();return false;">Oberer Bildtext</a>

					</li>
					<li>
						<a href="#"  onClick="showDText();return false;">Unterer Bildtext</a>
					</li>
			-->		<li>
						<a href="#"  onClick="showTags();return false;">Tags</a>
					</li>
					<li>
						<a href="#"  onClick="showThumbnail();return false;">Thumbnail</a>
					</li>
					<li>
						<a href="#"  onClick="showSpeichern();return false;">Speichern</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

