<br/>
<div class="clearfix"></div>
<div class="footer">
	<div class="col-md-2 col-md-offset-2">
		<%= link_to "Kontakt",new_contact_mail_path%>
	</div>
	<div class="col-md-2">
		<%= link_to "Impressum",static_pages_impressum_path%></div>
	<div class="col-md-2">
		<%= link_to "Datenschutz",static_pages_datenschutz_path%>
	</div>
</div>
